# Dependencies
node_modules/

# Build artifacts
.next/
out/

# Environment variables
.env*
!/.env.example

# Logs
*.log

# Test artifacts
test-results/
playwright-report/

# IDE & OS
.vscode/
.idea/
.DS_Store
