# dependencies
node_modules/

# next build
.next/
apps/frontend/.next/
out/

# env
.env
.env.local

# logs
*.log

# test artifacts
test-results/
playwright-report/

# misc
.DS_Store
dist/
tsconfig.tsbuildinfo
